*{
    margin:0px;
    padding:0px;
}
:root{
    --navbar-height:59px;
}
/*navbar*/
.logo img{
    width:84px;
    height: 68px;
    margin: -21px 17px;
    padding: 24px 12px;
}
/*logo*/
#navbar {
    display:flex;
    align-content: center;
    margin: -27px -22px;
    padding: 47px 23px;
    
}
#navbar ul{
    display: flex;
    position: absolute;
    left: 147px;
    top: 37px;
    list-style: none;
    font-size: 1.3rem;
    
}
#navbar ul li a{
    color:white;
    display: inline;
    padding: 10px 14px;;
    border-radius: 40px;
    text-decoration: none;
    font-family: 'Baloo Bhai 2', cursive;


}
#navbar::before{
    content: "";
    background-color: black;
    position:absolute;
    height: 11%;
    width:100%;
    z-index: -1;
    opacity: 0.5;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
.home{
    display: flex;
    flex-direction: column;
    padding: 3px 44px;
    justify-content: center;
    align-items: center;
    left: 0px;
    top:0px;
    /*background-image: url("freshfood-scaled.jpg");
    width: 1566px;
    height: 553px;*/
    

}
#navbar::before{
    content: "";
    background: url("freshfood-scaled.jpg") no-repeat center;
    position:absolute;
    height: 47%;
    width:100%;
    z-index: -1;
    opacity: 0.89;
}

.home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-family: 'Baloo Bhai 2', cursive;
}

.home p{
    color:white;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
    font-family: 'Baloo Bhai 2', cursive;
}
.h-primary{
    font-size: 2.5rem;
    padding: 7px;
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
}
.h-secondary{
    font-size: 3.5rem;
    padding: 7px;
    font-family: 'Baloo Bhai 2', cursive;
    position: absolute;
    left: 619px;
    margin: -26px;
}
.services{
    margin: 2px -44px;
    display: flex;
}
#box{
    border : 2px solid brown;
    padding: 34px;
    margin: 69px 62px;
    border-radius: 21px;
    background: #f2f2f2;
    margin-bottom: 20px;
    width: 441px;
    position: relative;
    left: -1px
}
.btn{
    color:white;
    background-color: #ab7a40;
    border-radius: 10px;
    border-color: black;
    cursor: pointer;
    padding: 10px;
    margin: 20px;
    font-family: 'Baloo Bhai 2', cursive;

}

#box img{
    height: 160px;
    margin: auto;
    display: block
}
/*.serve{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
padding: 0px;
margin: 0px;
align-items: center;}*/
.clients-sec::before{
    content: "";
    position: absolute;
    background: url('freshfood-scaled.jpg');
    width: 100%;
    height: 59%;
    z-index: -1;
    opacity: 0.3;}
#clients{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 44px 16px;
    padding: 10px;
}

.clients-items img{
    width: 264px;
    height: 175px;
}
.clients-sec h1{
    text-align: center;
    font-size: 3.8rem;
    margin: -9px 11px;
    text-align: center;
    padding: 0px;
}
.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

